

$font-logo:'Fresca', sans-serif;
$font-usual: "Source Sans Pro", sans-serif;
$font-normal:'Fresca', sans-serif;
$font-button: "Source Sans Pro", sans-serif;
$font-header: "Source Sans Pro", sans-serif;
$font-H2: "Source Sans Pro", sans-serif;

$img-beackground-header:url('../img/m-h-night.jpg');

$color-font-button:#ffffff;
$color-backg:#21232e;
$color-font:#ffffff;;
$color-hi-liter:#ff4e33;
$color-button:#e3ac00;
$color-backg-block:#3b3f50;
$color-heading-block:#f2f3f7;
$color-text-block:#d1d1d1;
