

$font-logo:'Hind', sans-serif;
$font-header: "Source Sans Pro", sans-serif;
$font-usual: "Source Sans Pro", sans-serif;
$font-normal:'Hind', sans-serif;
$font-button: "Source Sans Pro", sans-serif;
$font-H2: "Source Sans Pro", sans-serif;

$img-beackground-header:url('../img/m-h-day.jpg');

$color-font-button:#ffffff;
$color-backg:#ffffff;
$color-font:#2C2F3C;
$color-hi-liter:#14A0C7;
$color-button:#699900;
$color-backg-block:#21232e;
$color-heading-block:#ffffff;
$color-text-block:#b6c3ce;
